/* In your CSS */
.avatar {
  /*border-radius: 50%;*/
  border: 10px solid #000000;
  padding: 0px;

}
.margin{
  margin: 20px;
}
#button1{
  
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  cursor: pointer;
}
.fruits:hover{
color: yellow !important;  /*coooool*/
}


.overAllCenter {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh;
}

div.polaroid {
  width: 50%;
  padding: 5px;
}

.avatar:hover {
  border: 0px;
}

div.container {
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  margin-top: 20px;
}