/* In your CSS */
.avatar {
  /*border-radius: 50%;*/
  border: 10px solid #000000;
  padding: 0px;

}
.button {
  position: absolute;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 1; /* Ensure buttons appear above each other */
}

.button:hover {background-color: #3e8e41;}

.red {background-color: #f44336; z-index: 3;} /* Increase z-index to place above other buttons */
.white {background-color: #f1f1f1; z-index: 2;} /* Adjust z-index to stack between other buttons */


.margin{
  margin: 20px;
}
#button1{
  
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 30px;
  
}
.fruits:hover{
color: yellow !important;  /*coooool*/
}


.overAllCenter {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh;
}

div.polaroid {
  width: 50%;
  padding: 5px;
}

.avatar:hover {
  border: 0px;
}

div.container {
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  margin-top: 20px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.todobutton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 2%;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 200px;
}
.buttonList{
  display: flex;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}
.wholeList{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid black;
border-radius: 20px;  
}

#todoh1{
  flex:1;
  text-align: center;
}
#container{
  display: flex;
  
}
#addButton{
  position: absolute; /* Set button to absolute positioning */
  top: 0; /* Align button to the top */
  left: 0; /* Align button to the left */
  margin: 92.11px;  
  background: lime;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  width: 34px;
}

