/* In your CSS */
.avatar {
  /*border-radius: 50%;*/
  border: 10px solid #000000;
  padding: 0px;

}

.overAllCenter {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh;
}

div.polaroid {
  width: 50%;
  padding: 5px;
}

.avatar:hover {
  border: 0px;
}

div.container {
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  margin-top: 20px;
}